<html>
        <head>
            <title>add_customer</title>
        </head>
        <body>
            <div class='form'>
                <form action="http://localhost:5000/customers/add/customer_test" method='POST'>
                    {{ form.hidden_tag() }}
                    {{ form.first_name.label }} {{ form.first_name }}
                    <br>
                    {{ form.last_name.label }} {{ form.last_name }}
                    <br>
                    {{ form.customer_address.label }} {{ form.customer_address }}
                    <br>
                    {{ form.customer_dob.label }} {{ form.customer_dob }}
                    <br>
                    {{ form.prepaid_balance.label }} {{ form.prepaid_balance }}
                    <br>
                    {{ form.submit }}
                {{ message }}
                </form>
            </div>
        </body>
    </html>