<html>
    <form action="/customers/add/customer" method = "post">
        <label for="name2">First Name:</label>
        <br>
        <input type="text" id="first_name" name="first_name"><br><br>
        <label for="sname">Surname:</label>
        <br>
        <input type="text" id="last_name" name="last_name"><br><br>
        <label for="jname">Address:</label>
        <br>
        <input type="text" id="customer_address" name="customer_address"><br><br>
        <label for="sname">Date of Birth:</label>
        <br>
        <input type="text" id="customer_dob" name="customer_dob"><br><br>
        <label for="sname">Prepaid Balance:</label>
        <br>
        <input type="text" id="prepaid_balance" name="prepaid_balance"><br><br>
        <input type="submit" value="Submit">
      </form>
<html>
