








<!-- <html>
<head>
    <title>
        customer_select_form
    </title>
</head>
<form action="http://localhost:5000/customers/update" method = "post">
    {% for record in table1 %}
    {{record.append + '<label for="sname">Select</label><input type="checkbox" id="select" name="my_checkbox"><br><br>'}}
    {% endfor %}
    <input type="submit" value="Submit">
  </form>


<html> -->

<!-- <label for="sname">Select</label><input type="checkbox" id="select" name="my_checkbox"><br><br> -->


<!-- 
    <table class="table table-dark">
        <tr>
            <th> First Name </th>    
            <th> Surname </th>      
            <th> Address </th>
            <th> Date of Birth </th>
            <th> Prepaid Balance</th>
        </tr>
    
    
    {% for item in table %}
        <tr>
            <td>{{ item[0] }}</td> 
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>{{ item[4] }}</td>
        </tr>
    {% endfor %}
<html> --> 