<html>

    <form action="/orders/update" method = "post">
        <label for="entry">Record ID</label>
        <input type="text" id = 'entry' name='entry' value = {{ value1 }}><br><br>
        <label for="name2">Purchase Date:</label>
        <br>
        <input type="text" id="purchase_date" name="purchase_date"><br><br>
        <label for="sname">Price:</label>
        <br>
        <input type="text" id="price" name="price"><br><br>
        <label for="jname">Total due:</label>
        <br>
        <input type="text" id="cash_payment" name="cash_payment"><br><br>
        <label for="sname">Quantity:</label>
        <br>
        <input type="text" id="quantity_ordered" name="quantity_ordered"><br><br>
        <label for="sname">Customer ID:</label>
        <br>
        <input type="text" id="fk_customer_id" name="fk_customer_id"><br><br>
        <label for="sname">Product ID:</label>
        <br>
        <input type="text" id="fk_product_id" name="fk_product_id"><br><br>
        <input type="submit" value="Submit">
      </form>
