<html>
    <form action="/orders/add/order" method = "post">
        <label for="name2">Purchase Date:</label>
        <br>
        <input type="text" id="date" name="date"><br><br>
        <label for="sname">Price:</label>
        <br>
        <input type="text" id="price" name="price"><br><br>
        <label for="jname">Cash Payment:</label>
        <br>
        <input type="text" id="cash_payment" name="cash_payment"><br><br>
        <label for="sname">Prepaid Payment:</label>
        <br>
        <input type="text" id="prepaid_payment" name="prepaid_payment"><br><br>
        <label for="sname">Customer ID:</label>
        <br>
        <input type="text" id="fk_customer_id" name="fk_customer_id"><br><br>
        <label for="sname">Product ID:</label>
        <br>
        <input type="text" id="fk_product_id" name="fk_product_id"><br><br>
        <input type="submit" value="Submit">
      </form>
<html>
