<html>

    <form action="/products/update" method = "post">
        <label for="entry">Record ID</label>
        <input type="text" id = 'entry' name='entry' value = {{ value1 }}><br><br>
        <label for="name2">Product Name:</label>
        <input type="text" id="product_name" name="product_name"><br><br>
        <label for="sname">Brand:</label>
        <input type="text" id="product_brand" name="product_brand"><br><br>
        <label for="jname">Quantity in Stock:</label>
        <input type="text" id="quantity_in_stock" name="quantity_in_stock"><br><br>
        <label for="sname">Item Cost:</label>
        <input type="text" id="cost_per_item" name="cost_per_item"><br><br>
        <label for="sname">Price:</label>
        <input type="text" id="price" name="price"><br><br>
        <input type="submit" value="Submit">
      </form>
