<html>
    <form action="/products/add/item" method = "post">
        <label for="name1">Product Name:</label>
        <br>
        <input type="text" id="name" name="name"><br><br>
        <label for="lname">Brand:</label>
        <br>
        <input type="text" id="brand" name="brand"><br><br>
        <label for="lname">Quantity:</label>
        <br>
        <input type="text" id="quantity" name="quantity"><br><br>
        <label for="lname">Cost per item:</label>
        <br>
        <input type="text" id="itemcost" name="itemcost"><br><br>
        <label for="lname">Price:</label>
        <br>
        <input type="text" id="price_" name="price"><br><br>
        <input type="submit" value="Submit">
      </form>
<html>
